.activity-map {
    display: grid;
    grid-template-columns: 1fr calc(14vw + 16rem);
    gap: var(--go-ui-spacing-lg);

    @media screen and (max-width: 50rem) {
        grid-template-columns: 1fr;
    }
}
