.bulk-upload-content {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xl);

    .upload-container {
        display: flex;
        gap: var(--go-ui-spacing-md);
        flex-direction: column;

        .upload-description {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-md);
        }
    }

    .upload-information-container {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);

        .success-response-message {
            color: var(--go-ui-color-positive);
        }

        .response-information{
            display: flex;
            gap: var(--go-ui-spacing-lg);

            .count-and-file {
                display: flex;
                flex-direction: column;
                gap: var(--go-ui-spacing-sm);
            }
        }
    }

    .upload-format {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-sm);

        .upload-content {
            display: flex;
            gap: var(--go-ui-spacing-sm);

            .download-link {
                .icon {
                    font-size: var(--go-ui-height-icon-multiplier);
                }
            }
        }
    }
}

.header-description-content {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-sm);
}
