.key-insights {
    background-color: var(--go-ui-color-background);

    .sources {
        grid-column: 1 / -1;
    }

    .disclaimer-text {
        max-width: var(--go-ui-width-content-max);
        text-transform: uppercase;
        color: var(--go-ui-color-text-light);
    }

    .methodology-link {
        text-transform: uppercase;
    }

    .report-issue-link {
        color: var(--go-ui-color-negative);
    }

    .actions {
        align-items: flex-end;
        align-self: flex-end;
        flex-direction: column;
        flex-grow: 1;
    }
}
