.local-units-form-modal {
    .action-container {
        display: flex;
        gap: var(--go-ui-spacing-sm);
    }

    .heading-container {
        align-items: baseline;
        gap: var(--go-ui-spacing-sm);
    }
}
